<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="static/levypedia.css">

        <meta charset = "utf-8" name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <title> Math and Physics Riddles (Hover for Answer)</title>
    <style type="text/css">
        @import url('https://fonts.googleapis.com/css2?family=Gentium+Basic&family=Playfair+Display&display=swap');
        a:link {color: rgb(0, 153, 255);}  
        a:visited {color:rgb(233, 128, 128)}  
        a:hover {color: #56cf9d}  
        a:active {color: #56cf9d}  
        
      </style>  
    <body>
        <div class ="menu" class = "hover" class = "hvr-shutter-out-vertical">
            <a href="https://levypedia.com">Home</a>
            <a href="https://linktr.ee/elevy127">Linktree</a>
            <a href="backpacking_photos">Backpacking Photos</a>
            <a href="https://open.spotify.com/user/31hwz3cts3bb75z6exor3bglmcbi">Spotify</a>
            <a href="https://letterboxd.com/puckerupjules/">Letterboxd</a>
            <a href="Resume">Resume</a>
            <a href="contact_form">Contact</a>
        </div>
<h4 style="font-size: 300%; color: rgb(235, 192, 192);text-align: center;">Books that made an impact on me</h4>
    <ol style="font-size: 100%; color:antiquewhite; text-align: left;">
        <li>The Making of the Atomic Bomb by Richard Rhodes</li>
        <li>Why We Sleep by Matthew Walker</li>
        <li>The Prince by Niccolo Machiavelli</li>
        <li>The Art of War by Sun Tzu</li>
        <li>Benjamin Franklin: An American Life by Walter Isaacson</li>
        <li>Steve Jobs by Walter Isaacson</li>
        <li>1491: New Revelations of the Americas Before Colombus by Charles C. Mann</li>
        <li>Wool by Hugh Howey</li>
        <li>Ender's Game by Orson Scott Card</li>
        <li>The Stand by Stephen King</li>
       <li>Three-Body Problem by Cixin Liu</li>
       <li>The Dark Forest by Cixin Liu</li>
       <li>Death's End by Cixin Liu</li>
       <li>Sapiens: A Brief History of Humankind by Yuval Noah Harari</li>
       <li>Survival of the Sickest by Sharon Moalem</li>
    </ol>



       


        
        
        
    </body>

</html>