<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/levypedia.css">
    <title>Resume</title>
  </head>
  <body>
    <style type="text/css">
        a:link {color: rgb(131, 175, 204);}  
        a:visited {color:rgb(233, 128, 128)}  
        a:hover {color: #56cf9d}  
        a:active {color: #56cf9d}  
        
    </style>  
    <h5>
        <div class="menu" class="visited" class = "hover" class = "hvr-shutter-out-vertical" class = "active">
            <a class="visited" href="https://levypedia.com">Home</a>
            <a href="https://github.com/EthanLevy27/EthanLevy27">My Projects</a>
            <a href="backpacking_photos">Backpacking Photos</a>
            <a href="https://open.spotify.com/user/31hwz3cts3bb75z6exor3bglmcbi">Spotify</a>
            <a href="https://letterboxd.com/puckerupjules/">Letterboxd</a>
            <a class ="active" href="Resume">Resume</a>
            <a href="contact_form">Contact</a>

        </div>

    </h5>

        <h2>
            <iframe src="/static/ResumeWeb.pdf" width="800px" height="700px">
            </iframe>
        </h2>
  </body>
</html>