<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="static/levypedia.css">

        <meta charset = "utf-8" name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <title> Math and Physics Riddles (Hover for Answer)</title>
    <style type="text/css">
        @import url('https://fonts.googleapis.com/css2?family=Gentium+Basic&family=Playfair+Display&display=swap');
        a:link {color: rgb(0, 153, 255);}  
        a:visited {color:rgb(233, 128, 128)}  
        a:hover {color: #56cf9d}  
        a:active {color: #56cf9d}  
        
      </style>  
    <body>
        <div class ="menu" class = "hover" class = "hvr-shutter-out-vertical">
            <a class="active" href="https://levypedia.com">Home</a>
            <a href="https://linktr.ee/elevy127">Linktree</a>
            <a href="">My Projects</a>
            <a href="backpacking_photos">Backpacking Photos</a>
            <a href="https://open.spotify.com/user/31hwz3cts3bb75z6exor3bglmcbi">Spotify</a>
            <a href="https://letterboxd.com/puckerupjules/">Letterboxd</a>
            <a href="">Resume</a>
            <a href="">Contact</a>
                
          </div>
          <p>Hover over each question for answer!</p>

        <ul> 

           <li> <h2>1) The 9 Bricks</h2>
               <div class="hover-text">
                <span> There are nine identical bricks, each of equal weight besides one which weighs slightly less than the rest. 
                        You have a dual balance scale, and you are only able to make two weighings. How do you find the brick that weighs less?</span>
                    <span class="hover-text-2">Separate the bricks into groups of three. First, compare two of the sets. If they are equal, then you know that the brick is in the pile left out.
                         For each scenario, take the pile that weighs less and compare one and one, leaving the third brick on the outside. 
                         The key to this riddle is understanding that you get an equal amount of information from both piles on the scale as well as the pile that is left out. </span>
                </div>
            </li>

            <li> <h2>2) The Face-Up Card Puzzle </h2>
                <div class="hover-text">
                    <span>You are in a pitch black room and cannot use your sense of sight. Sitting at a table, you feel a standard 52-card deck of cards in front of you. Scattered randomly throughout that deck of cards are 13 face-up cards.

                        Your job is to separate this deck of cards into two piles of cards that both have the same number of face-up cards. Both piles must contain at least one card. You can flip the cards any amount of times. How can this be done?</span>
                    <span class="hover-text-2">Remove a group of 13 cards and flip them. If there were 6 in the larger pile, there were 7 face up in your pile. When you flipped the smaller pile, there are now 6 face up in your small pile!</span>
                </div>
            </li>

            <li> <h2>3) The Post-it Progression</h2>
                <div class = hover-text>
                    <span>You have 250 Post-it notes in front of you, with labels on them numbered 1-250. You pick out any 5 Post-its. What are the odds that you pick out 5 numbers that progress in numerical order as they are picked?</span>
                    <span class="hover-text-2"> The answer is 1/5!, or 1/120. No matter how many total cards there are in the pile, for every 5 cards picked out there is only one order of progression.  </span>
                </div>  


            </li>

        </ul>
        
    </body>

</html>