<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="levypedia.css" >
        <meta charset = "utf-8">
    </head>
    <title> Math and Physics Riddles</title>
    <body>
        <ul> 
           <li> 1) There are nine identical bricks, each of equal weight besides one which weighs slightly less than the rest. 
            You have a scale like the one shown on the right, which can be used two times. How do you find the brick that weighs less every time?
            <br></br></li>
            <li> 2)  </li>) 
        </ul>
        
    </body>

</html>